body {
    overflow: hidden;

    display: flex;

    width: 100vw;
    height: 100vh;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    color: var(--text-light);
}

#containerForm {
    display: flex;
    flex-direction: column;

    background-color: var(--back-cinza);

    padding: 20px;

    width: 30vw;
    height: 40vh;

    min-width: 250px;
    min-height: 300px;
    max-width: 700px;
    max-height: 500px;

    align-items: center;
}

#containerForm > .div_row {
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    margin: 2px;
}

.div_row > button {
    display: flex;

    border-width: 0px;
    width: 100%;

    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    color: var(--text-light);
    font-size: larger;
}

.div_row > button:hover {
    background-color: var(--primary-color-selected);
    color: var(--text-dark);
}