<link href="/css/home.css" rel="stylesheet">
<script src="/js/home.js" defer></script>

<div id="containerForm">
    <h3>O que deseja fazer?</h3>

    <div class="div_row">
        <button id="btnGet">Baixar</button>
    </div>

    <div class="div_row">
        <button id="btnPush">Enviar</button>
    </div>

    <div class="div_row">
        <button id="btnYoutube">Músicas</button>
    </div>

    <div class="div_row">
        <button id="btnPostit">Post-it</button>
    </div>

    <div class="div_row">
        <button id="btnCharts">Gráficos</button>
    </div>
</div>