<link href="/css/login.css" rel="stylesheet">
<script src="/js/login.js" defer></script>


<form id="containerForm" action="/home" method="post">
    <h3>Enter Password</h3>

    <input name="password" type="password" required>

    <button type="button" id="btnCancel">Cancelar</button>
</form>
