<link href="/css/postit.css" rel="stylesheet">
<script type="module" src="/js/postit.js" defer></script>

<div id="divContent">

</div>

<div id="divRodape">
    <div id="btnSalvar" class="btnFooter">
        <label></label>
    </div>

    <div id="btnVoltar" class="btnFooter">
        <label>Voltar</label>
    </div>

    <div id="btnNovo" class="btnFooter">
        <label>Novo</label>
    </div>
</div>